.overview-page {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #30343F;
  color: #ffffff;
  text-align: center;

  & .recipe-tile {
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding-top: 0.25rem;
    background-color: #7D6C6A;
    text-align: center;

    & .recipe-info-block {
      border-radius: 0.5rem;
      margin: 0.5rem 0;
      background-color: #C9A495;
      display: flex;
      text-align: start;
      justify-content: space-between;
      align-items: center;

      & .recipe-info {
        flex-direction: column;

        & p {
          margin: 5px 10px;
        }
      }

      & .recipe-photo {
        border-radius: 0.5rem;
      }
    }
  }
}