.overview-page {
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  background-color: #30343F;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

@media (min-width: 500px) {
  .overview-page {
    max-width: 45rem;
    height: 45rem;
  }
}